@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
  scrollbar-width: thin;
  scrollbar-color: #3f3f46 transparent;
}

.light {
  scrollbar-width: thin;
  scrollbar-color: #a1a1aa transparent;
}