@import "tailwindcss";
@plugin "@tailwindcss/typography";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
    --animate-ping: ping 2s cubic-bezier(0, 0, 0.2, 1) infinite;
}

@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentcolor);
    }
}

html.dark,
div[cmdk-list] {
    scrollbar-width: thin;
    scrollbar-color: #3f3f46 transparent;
}

html.light,
div[cmdk-list] {
    scrollbar-width: thin;
    scrollbar-color: #a1a1aa transparent;
}

.prose .anchor {
    @apply absolute invisible no-underline;

    margin-left: -1em;
    padding-right: 0.5em;
    width: 80%;
    max-width: 700px;
    cursor: pointer;
}

.prose .anchor:after {
    @apply text-zinc-300 dark:text-neutral-700;
    content: "#";
}

.prose *:hover > .anchor {
    @apply visible;
}

html.dark .shiki,
html.dark .shiki span {
    color: var(--shiki-dark) !important;
    background-color: var(--shiki-dark-bg) !important;
}

.shiki {
    counter-reset: step;
    counter-increment: step 0;
    .line {
        &::before {
            counter-increment: step;
            @apply mr-6 inline-block w-4 border-transparent text-right text-zinc-400 dark:text-zinc-600 content-[counter(step)];
        }
    }
}

.level-0 {
    @apply bg-zinc-200;
}
.level-1 {
    background-color: oklch(0.87 0.1182 148.74);
}
.level-2 {
    background-color: oklch(0.73 0.1781 148.54);
}
.level-3 {
    background-color: oklch(0.63 0.157 148.35);
}
.level-4 {
    background-color: oklch(0.48 0.1122 150.02);
}

.dark .level-0 {
    @apply bg-zinc-800;
}
.dark .level-1 {
    background-color: oklch(0.34 0.073 156.73);
}
.dark .level-2 {
    background-color: oklch(0.47 0.126255 150.8624);
}
.dark .level-3 {
    background-color: oklch(0.64 0.1777 146.24);
}
.dark .level-4 {
    background-color: oklch(0.76 0.2121 145.62);
}
