@tailwind base;
@tailwind components;
@tailwind utilities;

html.dark {
  scrollbar-width: thin;
  scrollbar-color: #3f3f46 transparent;
}

html.light {
  scrollbar-width: thin;
  scrollbar-color: #a1a1aa transparent;
}


.prose .anchor {
  @apply absolute invisible no-underline;

  margin-left: -1em;
  padding-right: 0.5em;
  width: 80%;
  max-width: 700px;
  cursor: pointer;
}

.prose .anchor:after {
  @apply text-zinc-300 dark:text-neutral-700;
  content: "#";
}

.prose *:hover > .anchor {
  @apply visible;
}

html.dark .shiki,
html.dark .shiki span {
  color: var(--shiki-dark) !important;
  background-color: var(--shiki-dark-bg) !important;
}

.shiki {
  counter-reset: step;
  counter-increment: step 0;
  .line{
    &::before {
      counter-increment: step;
      @apply mr-6 inline-block w-4 border-transparent text-right text-zinc-400 dark:text-zinc-600 content-[counter(step)];
    }
  }
}